.fa-times {
    position: absolute;
    right: 8px;
    top: 6px;
    color: #f4735c;
    cursor: pointer;
  }
  
  .fa-pencil-alt {
    position: absolute;
    right: 26px;
    top: 6px;
    color: var(--primary-color);
    cursor: pointer;
  }